export INVOXA_DB_DSN='postgres://invoxa:pa55word@localhost/invoxa?sslmode=disable'
CLOUDINARY_URL=cloudinary://697633579554225:FpbcudNwBujQa9Z1D4m-tCwqv4s@dgd77amal
RESEND_API_KEY=re_ggtPuq9q_F8g9FK5ZWZXkzfFmiz4qpEj4
GOOGLE_CLIENT_ID=460369626081-bgbd4j2aisdas6r1j6e18h06i14798t7.apps.googleusercontent.com