[Unit]
Description=Fastvoxa API service
After=postgresql.service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=fastvoxa
Group=fastvoxa
EnvironmentFile=/etc/environment
WorkingDirectory=/home/fastvoxa
ExecStart=/home/fastvoxa/api -port=4000 -db-dsn=${FASTVOXA_DB_DSN} -env=production -cors-trusted-origins="https://fastvoxa.com http://localhost:3000"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target